<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= link_to "Delete task", task_path(@task), method: :delete %></p>
<p><%= link_to "Edit task", edit_path(@task) %></p>
<p><%= link_to "Tasks index", tasks_path %></p>


